<footer class="page-footer font-small bg-info pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">...</h4>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                   

                    <li>
                        <a href="https://github.com/IzaqueL95" target="_blank" class="icoLinkedin">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>

                   
                </ul>
            
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">Égide &copy;</span>
    </div>
</footer>