<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../../app/cadastrar/cadastrar.component.css">

    <title>Cadastro</title>
</head>

<body>
    <div class=" container size color  ">
        <div class="  row ">
            <div class="col-md-12   ">
                <h2 class="   d-flex justify-content-center p-3 ">Cadastra-se</h2>


            </div>
            <div class="d-flex justify-content-center align-items-center">
                <img class="sizelogo " src="../../assets/img/logo-egide.png" alt="Logo">
            </div>
            <div class="col-md-12">

                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input class="form-control" type="text" name="nome" id="nome" placeholder="Digite seu nome">
                </div>
                <div class="form-group">
                    <label for="usuario">Usuário</label>
                    <input class="form-control" type="text" name="usuario" id="usuario"
                        placeholder="Digite seu usuario">
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="Insira seu e-mail">
                </div>
                <div class="form-group">
                    <label for="foto">Link da Foto</label>
                    <input class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">
                </div>
                <div class="form-group">
                    <label for="confirmSenha">Confirmar Senha</label>
                    <input class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                        placeholder="Confirme sua senha">
                </div>


                <div class="d-flex justify-content-center m-3 pad-but ">
                    <button type="submit" class="btn btn-success pad-but ">
                        Entrar
                    </button>

                    <button type="submit" class="btn btn-danger pad-but">
                        Cancelar
                    </button>
                </div>

                <div class="d-flex justify-content-center">
                    <p>Já possui conta? Faça o <a href="#">login</a></p>
                </div>
            </div>
        </div>
    </div>














    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>