
.img-bg{
    background-image: url('../../assets/img/unknown.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 500px;
}

.estilo-caixa{
    box-shadow: 0 1px 4px rgb(2, 2, 2);
    background-color: rgba(249, 250, 251, 0.925);
}