.Parametro{

    background-image: url('../../assets/img/bg-cadastro.png');
    background-size:cover;
    background-repeat: no-repeat;
min-height: 100vh;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;

}
.size {
    box-shadow: 0 1px 4px rgb(2, 2, 2); 
    background-color: rgba(249, 250, 251, 0.925);
border-radius: 8px;
    width: 680px;
    height: 850px;
    display: flex;
    align-items: center;
    overflow: hidden;
    }
    .botaoCancelar{
        border: 1px solid rgb(104, 31, 93);
        width: 112px;
        white-space: nowrap;
        border-radius: 9px;
       }
     
       .botaoCancelar:hover{
         background-color: #dd2b2b;
         color: white;
         transition: 0.4s;
         border-color: rgb(0, 0, 0);
       }
       .pad-but{
        margin: 7px;
      }
      .botao{
        border: 1px solid rgb(104, 31, 93);
        width: 112px;
        white-space: nowrap;
        border-radius: 8px;
      }
   
      .botao:hover{
       background-color: #ad7b64;
       color: white;
       transition: 0.4s;
      }