<div class="container-fluid fundo">
  <div class=" ">
    <div class="row">
      <div class="col-md-12 text-dark mt-4">
        <div class="d-flex justify-content-center">
          <div class="d-flex justify-content-start align-items-center posLogo">
            <img
            class="imgResponse"
              src="../../assets/img/logoegide.png"
              alt="Logo Egide"
              width="65px"
              height="65px"
            />
          </div>
          <a class="mr-3 fSizeMenu" href="">Sobre nós</a>
          <a class="fSizeMenu" href="">Sobre o projeto</a>
          <div class="d-flex justify-content-end response szButton">
            <button class="btn btn-sm botao mr-3">Login</button>
            <button class="btn btn-sm botao">Cadastre-se</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 textColor mt-5 pl-5">
        <h1 class="fonte f-size font-italic">
          Não importa a quantidade da doação, mas a verdadeira quantidade de
          amor e bondade que se coloca nela!
        </h1>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img class="imagem" src="https://i.imgur.com/TG8IhWR.png" alt="" />
      </div>
    </div>
  </div>
</div>
