

<html>
<nav class="navbar navbar-light fundo ">
  <a class="navbar-brand " href="#">
    <img src="../../assets/img/logoegide.png" width="60" height="60" class="d-inline-block align-top" alt="">
    <a class=" text-dark mt-5 fonte2 " href="/inicio">Égide</a>
  </a>

  <div class="d-flex justify-content-center fSizeMenu ">
    <img src="../../assets/img/heart.png" width="100" height="100" alt="">
  </div>
  <div class="responsebt">
    <button class="btn btn-lg botao mr-3" routerLink='/logar'>Login</button>
    <button class="btn btn-lg botao" routerLink='/cadastrar'>Cadastre-se</button>
  </div>
</nav>
<div class="fundo2 container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6 textColor mt-5 pl-5">
      <h1 class="fonte f-size font-italic">
        Não importa a quantidade da doação, mas a verdadeira quantidade de
        amor e bondade que se coloca nela!
      </h1>
      <div class="text-dark mt-4">
        
        <a  class="btn btn-outline botao2 mt-3 mr-4 "href="#about-us">Sobre nós</a>
        <a  class="btn btn-outline botao2 mt-3 "href="#about-project">Sobre o projeto</a>
      </div>
    </div>
    <div class="">
     <div class="row mb-5">
    <div class=" d-flex justify-content-center align-items-center">
      <img class="imagem img1-resp" src="../../assets/img/img-ini.svg" alt="" />
    </div>
  </div>
    
  </div>
</div>
<div class="row mt-150 mb-5 d-flex justify-content-center">
  <div class="col-md-12  font">
    <h1 class=" text-center " id="about-us">Sobre o projetos</h1>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-6 d-flex align-items-center mt-5">
<p class=" m-txt sz-txt">O Égide foi pensado e criado para facilitar o acesso de instituições com doadores, e vice-versa.
  Trazendo na página da rede social das instituições, seus feitos, com fotos e divulgações de propósitos, fazendo com que os doadores participem mais, e conheça mais a instituição a qual está doando.</p>
  </div>
  <div class="col-md-6 mt-5">
    <img class="img2-resp" src="../../assets/img/git-aboutProject.gif" alt="">
  </div>
</div>

  <div class="row p-x mb-5">
    <div class="col-md-12 font   d-flex justify-content-center">
      <h1 class="mb-5 to-top" id="about-project">Sobre nos </h1>
    </div>
  </div>
  <div class="row  ">
    <div class="col-md-6 d-flex justify-content-center persp">

      <div class=" flip  " id="card">
        <div class="d-flex justify-content-center align-items-center front face">

          <img class="hover-ico mr-3" src="../../assets/img/linkedin-ico.png" width="40px" alt="Logo Linkedin">
          <img class="hover-ico  " src="../../assets/img/github-logo-face-ico.png" width="40px" alt="Logo GitHub">
        </div>
        <div class="  d-flex justify-content-center align-items-center back face">
          <img class="img-front" width="300" src="../../assets/img/img-angela.jpeg" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-6 responseabt ">
      <h2 class=" text-center font ">Angela Caperuzzo</h2>
      <p class="mt-5 font m-txt sz-txt">Olá, eu sou a Angela Caperuzzo, tenho 24 anos, e  sou uma programadora full stack formada na generation brasil, sou  muito comunicativa, dedicada, gosto de finalizar as tarefas que estou fazendo  e empatica também quando for requisitado auxilio. Como segunda lingua tenho conhecimentos em inglês nível  intermediario, e curso de montagem e manutenção de hardware, possuo conhecimentos transversais de TIC, estou a procura de uma oportunidade em desenvolvimento web.</p>
    </div>
  </div>

  <div class="row mt-190 ">
    
    <div class="col-md-6  ">
      <h2 class=" text-center font ">Bruno Micalli</h2>
      <p class="mt-5 font m-txt sz-txt" >Desenvolvedor de Java Full Stack, formado em  técnico mecânica com experiência em gestão de projetos. Sou apaixonado por novos desafios, proativo,paciente, gosto trabalhar em equipe, a curiosidade me  impulsiona em aprender coisas novas e também procuro sempre me desenvolver para colaborar com novas propostas.</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center persp">

      <div class=" flip  " id="card">
        <div class="d-flex justify-content-center align-items-center front face">

          <a href="https://www.linkedin.com/in/brunomicalli/" target="_blank"><img class="hover-ico mr-3" src="../../assets/img/linkedin-ico.png" width="40px" alt="Logo Linkedin"></a>
          <a href="https://github.com/Micalli" target="_blank"> <img class="hover-ico  "  src="../../assets/img/github-logo-face-ico.png" width="40px" alt="Logo GitHub"></a>
        </div>
        <div class="  d-flex justify-content-center align-items-center back face">
          <img class="img-bruno foto-bruno"  src="../../assets/img/img-bruno.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-190 responseabt  ">
    <div class="col-md-6 d-flex justify-content-center persp">

      <div class=" flip  " id="card">
        <div class="d-flex justify-content-center align-items-center front face">

          <img class="hover-ico mr-3" src="../../assets/img/linkedin-ico.png" width="40px" alt="Logo Linkedin">
          <img class="hover-ico  " src="../../assets/img/github-logo-face-ico.png" width="40px" alt="Logo GitHub">
        </div>
        <div class="  d-flex justify-content-center align-items-center back face">
          <img class="img-front" width="300" src="../../assets/img/img-gabriel.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-6 ">
      <h2 class=" text-center font responseabt">Gabriel Aronne</h2>
      <p class="mt-5 fontm-txt m-txt sz-txt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime dignissimos nulla quo iure cum
        est, rerum libero voluptate, consectetur nam mollitia in praesentium? Ipsum quos modi quasi, autem itaque
        tempora Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores quam alias quia est, aliquid animi
        sint veniam quis amet vel, inventore doloremque dolorum assumenda fuga ad earum illum esse placeat. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Amet, deleniti at mollitia inventore aperiam cum consequuntur nam
        voluptatem, eos animi sint modi praesentium placeat minima laborum? Earum dicta in eligendi.</p>
    </div>
  </div>

  <div class="row mt-190 ">
    
    <div class="col-md-6 ">
      <h2 class=" text-center font  ">Izaque Liborio</h2>
      <p class="mt-5 font m-txt sz-txt" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime dignissimos nulla quo iure cum
        est, rerum libero voluptate, consectetur nam mollitia in praesentium? Ipsum quos modi quasi, autem itaque
        tempora Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores quam alias quia est, aliquid animi
        sint veniam quis amet vel, inventore doloremque dolorum assumenda fuga ad earum illum esse placeat. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Amet, deleniti at mollitia inventore aperiam cum consequuntur nam
        voluptatem, eos animi sint modi praesentium placeat minima laborum? Earum dicta in eligendi.</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center persp">

      <div class=" flip  " id="card">
        <div class="d-flex justify-content-center align-items-center front face">

          <img class="hover-ico mr-3" src="../../assets/img/linkedin-ico.png" width="40px" alt="Logo Linkedin">
          <img class="hover-ico  " src="../../assets/img/github-logo-face-ico.png" width="40px" alt="Logo GitHub">
        </div>
        <div class="  d-flex justify-content-center align-items-center back face">
          <img class="img-front" width="300" src="../../assets/img/img-izaque.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-190  responseabt ">
    <div class="col-md-6 d-flex justify-content-center persp">

      <div class=" flip  " id="card">
        <div class="d-flex justify-content-center align-items-center front face">

          <img class="hover-ico mr-3" src="../../assets/img/linkedin-ico.png" width="40px" alt="Logo Linkedin">
          <img class="hover-ico  " src="../../assets/img/github-logo-face-ico.png" width="40px" alt="Logo GitHub">
        </div>
        <div class="  d-flex justify-content-center align-items-center back face">
          <img class="img-front" width="300" src="../../assets/img/img-mariana.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-6 ">
      <h2 class=" text-center font responseabt">Mariana Santos</h2>
      <p class="mt-5 font m-txt sz-txt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime dignissimos nulla quo iure cum
        est, rerum libero voluptate, consectetur nam mollitia in praesentium? Ipsum quos modi quasi, autem itaque
        tempora Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores quam alias quia est, aliquid animi
        sint veniam quis amet vel, inventore doloremque dolorum assumenda fuga ad earum illum esse placeat. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Amet, deleniti at mollitia inventore aperiam cum consequuntur nam
        voluptatem, eos animi sint modi praesentium placeat minima laborum? Earum dicta in eligendi.</p>
    </div>
  </div>

  <a (click)='onActivate($event)'><img class="mb-3 to-top-arrow" src="../../assets/img/arrow.png" width="45px" alt=""></a>
</div>
</html>



