@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap%27');

.fundo{
    background-color: #e782d1;
    height: 1300px;
    overflow:hidden
}

.imagem{
    width: 600px;
    height: 600px;
    position:relative;
    top: 380px;
}

.fonte{
    font-family: 'Source Code Pro';
}

.textColor{
    color:rgb(104, 31, 93) ;
}

.botao{
    
    border: 1px solid rgb(104, 31, 93);
}

.botao:hover{
    background-color: rgb(235, 187, 235);
    transition: 1.0s;
}