<nav class="navbar navbar-light fundo ">
    <a class="navbar-brand" href="#">
      <img src="../../assets/img/logoegide.png" width="60" height="60" class="d-inline-block align-top" alt="">
    </a>
  
    <div class="d-flex justify-content-center fSizeMenu textColor">
      Égide
    </div>
    <div>
      <button class="btn btn-lg botao mr-3" routerLink='/logar'>Login</button>
      <button class="btn btn-lg botao" routerLink='/cadastrar'>Cadastre-se</button>
    </div>
  </nav >
    <div class="fundo2 container-fluid">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 textColor mt-5 pl-5">
          <h1 class="fonte f-size font-italic">
            Não importa a quantidade da doação, mas a verdadeira quantidade de
            amor e bondade que se coloca nela!
          </h1>
          <div class="text-dark">
          <button type="button" class="btn btn-outline botao mr-4 ">Sobre nós</button>
        <button type="button" class="btn btn-outline botao   ">Sobre o projeto</button>
      </div>
        </div>
        
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <img class="imagem" src="../../assets/img/img-ini.svg" alt="" />
        </div>
      </div>
    </div>
  
  
