<div class="body">
  <div class="container d-flex size color ">
    <div class="col-md-12">
      <div class="d-flex justify-content-center ">
        <h2>Login</h2>
      </div>
      <div class="container">
        <div class="d-flex justify-content-center">
          <img src="../../assets/img/logoegide.png" width="85px" alt="Logo">
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label for="usuario">Usuario</label>
          <input [(ngModel)]='userLogin.usuario' class="form-control d-flex" type="text" name="usuario" id="usuario"
            placeholder="Digite seu Usuario">
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input [(ngModel)]='userLogin.senha' class="form-control d-flex" type="password" name="senha" id="senha"
            placeholder="Digite sua senha">
          <button>
            <a class="m-0" (click)='esqueceuSenha()'>Esqueceu sua senha?</a>
          </button>


          <div class="d-flex justify-content-center m-3 pad-but">
            <button type="submit" class="btn btn-lg pad-but botaoCancelar" routerLink='/inicio'>
              Cancelar
            </button>

            <button type="submit" class="btn btn-lg pad-but botao" (click)='entrar()'>
              Entrar
            </button>
          </div>
          <div class="d-flex justify-content-center">
            <p>Não possui conta? <a routerLink='/cadastrar'>Cadastre-se</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>